<div class="d-flex align-items-center justify-content-center h-100">
        <div class="card w-50">
            <div class="card-block contact-me text-center">
                    <i class="fa fa-laptop title" aria-hidden="true"></i>
                    <p class="mt-3 my-email">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <a href="mailto:bharathchekuriapps@gmail.com">bharathchekuriapps@gmail.com</a>
                    </p>
                    <p class="mt-3 social">
                            <a href="https://www.facebook.com/Revolve-and-Reload-370274829991221" target="_blank"><i class="fa fa-facebook-square ml-3" aria-hidden="true"></i></a>
                            <a href="https://github.com/bchekuri" target="_blank"><i class="fa fa-github-square ml-3" aria-hidden="true"></i></a>
                            <a href="https://www.linkedin.com/in/bchekuri/" target="_blank"><i class="fa fa-linkedin-square ml-3" aria-hidden="true"></i></a>
                    </p>
            </div>
        </div>
</div>