<ul class="nav flex-column nav-pills-rr" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#options"><i class="fa fa-cog" aria-hidden="true"></i> Options</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#howtouse"><i class="fa fa-question-circle" aria-hidden="true"></i> How to Use</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#contactme"><i class="fa fa-handshake-o" aria-hidden="true"></i> Get In Touch</a>
    </li>
</ul>